.responsive-table-wrapper {
    overflow-x: auto;
}

@media only screen and (min-width: 768px) {
    .slds-box {
      padding: 1rem;
    }
  
    .slds-grid {
      flex-wrap: wrap;
    }
  
    .button-group {
      margin-top: 10px;
      text-align: center;
    }
  
    .pagination {
      justify-content: center;
    }
  
    table {
      font-size: 0.8rem;
    }
  
    td, th {
      padding: 0.5rem;
    }
}
  